{% load static %}

<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{% block title %}Integra Fundaj{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						{% block logourl %}
							<a href="{% url 'home' %}"><span class="logo"><img src="{% static 'images/fundacao.svg' %}" alt="" /></span></a>
						{% endblock %}
						{% block titlepage %}
							<h1>Integra Fundaj</h1>
							<p>Sistema e Gerenciamento Institucional<br />
						{% endblock %}
					</header>


				<!-- Main -->
					<div id="main">
						<!-- área de conteudo das paginas -->
                        {% block main %}{% endblock %}

					</div>

                    {% block second %}{% endblock %}

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Integra Fundaj</h2>
							<p>Sistema e Gerenciamento Institucional da <br/>Fundação Joaquim Nabuco. </p>
						</section>
						<section>
							<h2>Suporte Técnico</h2>
							<dl class="alt">
								<dt>Endereço</dt>
								<dd>Av. Dezessete de Agosto, 2187 - Casa Forte, Recife - PE, 52061-540</dd>
								<dt>Ramal</dt>
								<dd>6896</dd>
								<dt>Email</dt>
								<dd><a href="#">mobile@fundaj.gov.br</a></dd>
							</dl>
						</section>
						<p class="copyright">&copy; Todos os direitos reservados. Fundação Joaquim Nabuco.</p>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>