{% extends "base.html" %}

{% block main %}
<!-- First Section -->
<section id="first" class="main special">
	<ul class="features">
		<li>
			<a href="{% url 'contacts' %}"><span class="icon major style1 fa-users"></span></a>
			<h3>Contatos</h3>
		</li>
		<li>
			<span class="icon major style3 fa-mobile"></span>
			<h3>Fundaj Mobile</h3>
		</li>
		<li>
			<a href="{% url 'biddings' %}"><span class="icon major style5 fa-gavel"></span></a>
			<h3>Licitação</h3>
		</li>
	</ul>
</section>
{% endblock %}
