{% extends "base.html" %}

{% load widget_tweaks %}

{% block titlepage %}
    <h1>Licitação</h1>
{% endblock %}

{% block main %}

<section id="first" class="main special">
    <form method="get" class="row uniform">
        <div class="2u 12u$(small)">
            No Processo		
            <div>
                {% render_field filter.form.process %}
            </div>
        </div>

        <div class="5u 12u$(small)">
            Fase		
            <div class="select-wrapper">
                {% render_field filter.form.status %}
            </div>
        </div>

        <div class="5u 12u$(small)">
            Modalidade		
            <div class="select-wrapper">
                {% render_field filter.form.modality %}
            </div>
        </div>
        
        <div class="6u 12u$(small)">
            <button class="search" type="submit">Buscar</button>
        </div>
        <div class="6u 12u$(small)">
            <button class="search" type="reset"><a href="{% url 'biddings' %}">Limpar</a></button>
        </div>
    </form>
</section>

{% endblock %}

{% block second %}

<div id="second">
    <section id="first" class="second special">
        <h3>Lista de licitações</h3>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Ano</th>
                        <th>No Edital</th>
                        <th>Fase</th>
                        <th>Data de Abertura</th>
                        <th>Nº Processo</th>
                        <th>Modalidade</th>
                        <th>Objeto</th>
                        <th>Valor do Contrato</th>
                        <th>Vencedor</th>
                        <th>Edital</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for biddings in biddings %}
                    <tr>
                        <td>{{biddings.year}}</td>
                        <td>{{biddings.notice}}</td>
                        <td>{{biddings.status_verbose}}</td>
                        <td>{{biddings.date | date:"d/m/o"}}</td>
                        <td>{{biddings.process}}</td>
                        <td>{{biddings.modality_verbose}}</td>
                        <td class="upper">{{biddings.objectt}}</td>
                        <td>{{biddings.price}}</td>
                        <td>{{biddings.winner}}</td>
                        <td><a class="download" href="{{biddings.document.url}}" download="{{biddings.document.name}}">Baixar</a></td>
                    </tr>
                    {% empty%}
                    <tr>
                        <td class="no-register" colspan="10"> Nenhum registrado</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

       <!-- Paginação -->
        <div class="container">
            <div class="pagination p12">
                {% if biddings.has_other_pages %}
                <ul>
                    {% if biddings.has_previous %}
                        <a class="is-active" href="?page={{ biddings.previous_page_number }}&{{parameter.urlencode}}"><li>Anterior</li></a>
                    {% else %}
                        <a href="#"><li>Anterior</li></a>
                    {% endif %}
                    {% for i in biddings.paginator.page_range %}
                        {% if biddings.number == i %}
                            <a class="is-active"><li>{{ i }}</li></a>
                        {% else %}
                             <a href="?page={{ i }}&{{parameter.urlencode}}"><li>{{ i }}</li></a>
                        {% endif %}
                    {% endfor %}
                    {% if biddings.has_next %}
                        <a class="is-active"href="?page={{ biddings.next_page_number }}&{{parameter.urlencode}}"><li>Próximo</li></a>
                    {% else %}
                        <a href="#"><li>Próximo</li></a>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}