{% extends "base.html" %}

{% load widget_tweaks %}

{% block titlepage %}
    <h1>Lista de Emails e Ramais</h1>
{% endblock %}

{% block main %}

<section id="first" class="main special">
    <form method="get" class="row uniform">
        <div class="8u 12u$(small)">   
            {% render_field filter.form.name placeholder="Pesquise pelo nome" %}
        </div>
        <div class="4u 12u$(small)">
            <button class="search" type="submit">Buscar</button>
        </div>
    </form>
</section>

{% endblock %}

{% block second %}

<div id="second">
    <section id="first" class="second special">
        <h3>Lista de Contatos</h3>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data de Nasc.</th>
                        <th>E-mail</th>
                        <th>Ramal</th>
                        <th>Matrícula</th>
                        <th>Diretoria</th>
                        <th>Vínculo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contacts in contacts %}
                    <tr>
                        <td>{{contacts.name}}</td>
                        <td>{{contacts.date | date:"d/F"}}</td>
                        <td>{{contacts.email}}</td>
                        <td>{{contacts.branchLine}}</td>
                        <td>{{contacts.registration}}</td>
                        <td class="upper">{{contacts.board}}</td>
                        <td>{{contacts.bond_verbose}}</td>
                    </tr>
                    {% empty%}
                    <tr>
                        <td class="no-register" colspan="10"> Nenhum registrado</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

       <!-- Paginação -->
        <div class="container">
            <div class="pagination p12">
                {% if contacts.has_other_pages %}
                <ul>
                    {% if contacts.has_previous %}
                        <a class="is-active" href="?page={{ contacts.previous_page_number }}&{{parameter.urlencode}}"><li>Anterior</li></a>
                    {% else %}
                        <a href="#"><li>Anterior</li></a>
                    {% endif %}
                    {% for i in contacts.paginator.page_range %}
                        {% if contacts.number == i %}
                            <a class="is-active"><li>{{ i }}</li></a>
                        {% else %}
                             <a href="?page={{ i }}&{{parameter.urlencode}}"><li>{{ i }}</li></a>
                        {% endif %}
                    {% endfor %}
                    {% if contacts.has_next %}
                        <a class="is-active"href="?page={{ contacts.next_page_number }}&{{parameter.urlencode}}"><li>Próximo</li></a>
                    {% else %}
                        <a href="#"><li>Próximo</li></a>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}